# This is an example .env file. If you've cloned this code from the repo, 
# then follow these steps:

# 1. Rename this file to .env
# 2. Fill in the values with your own.

AZURE_OPENAI_BASE_URL=https://<your-resource-name>.services.ai.azure.com/openai/v1/
AZURE_OPENAI_API_KEY=<your-api-key>
AZURE_OPENAI_DEPLOYMENT=<your-deployment-name-of-a-cheap-model>
AZURE_OPENAI_DEPLOYMENT_STRONG=<your-deployment-name-of-a-strong-model>
AZURE_SQL_SERVER=<your-sql-server-name>.database.windows.net
AZURE_SQL_DATABASE=<your-database-name>
AZURE_SQL_USER=<your-sql-username>
AZURE_SQL_PASSWORD=<your-sql-password>
ADA_TRACE=azure# for tracing, or none for no tracing
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=<your-instrumentation-key>;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/;ApplicationId=<your-application-id>
ADA_RETRIEVER=hybrid#keyword/bm25/hybrid
AZURE_OPENAI_EMBED_DEPLOYMENT=<your-deployment-name-of-an-embedding-model>